
body {
  background-color: #000000; /*Color de fondo*/
  color: #ffffff; /*Color letras*/
  font-family: Arial, Helvetica, sans-serif; /*Fuente*/
  display: flex; /*Convierte todo en un contenedor*/
  justify-content: flex-start; /* Alinea todo al lado izquierdo */
  padding: 20px; /*Espacio interno que se encuentra entre el contenido de un elemento y su propio borde*/
}
/* Contenedor alineado a la izquierda */
.container {
  max-width: 500px; /*Ancho maximo*/
  width: 100%; /*Utilizar el 100% del espacio de la pantalla*/
  margin: 0; /*Sin margenes en el body*/
}

/*Filtros red social*/
.filtros{
    display: flex; /*Colocar los botones a la derecha*/
    padding: 5px 0; /*Espacio interno*/
    gap: 10px; /*sirve para definir el espacio o separación entre los elementos hijos dentro de un contenedor o botones*/
}
.filtro{
    color:#ffffff; /*Color texto*/
    background-color: #000000; /*Color fondo*/
    border-radius: 3mm; /*Borde redondeado*/
}

/*Filtro seleccionado*/
.filtro.activo {
  background-color: #272c30; /*Color fondo*/
  border-color: transparent; /*Sin color de borde*/
}

/*Icono corazon*/
.icono-corazon {
  width: 50px;
  height: 50px;
  border: 2px solid #363636;
  border-radius: 50%; /* Lo hace completamente circular */

  /*Centrar corazon*/
  display: flex;
  align-items: center;     /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */

  line-height: 45px;
  font-size: 30px;
  margin: 0 auto 10px auto;
}
h3{
    text-align: center;
}
p{
    text-align: center;
}

.imagen-usuario{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.tarjeta-usuario {
  display: flex;
  align-items: center;      /* Centra verticalmente todos los elementos */
  gap: 12px;                /* Espacio entre la foto, el texto y el botón */
  margin-top: 10px;
}